body {
  margin: 0px 2px;
  background-color: rgb(169, 169, 169);
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgb(84, 212, 84);
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.header h1 {
  flex: 1;
  text-align: center;
  font-family: 'Cinzel Decorative', serif;
  font-weight: 700;
  font-size: 40px;
  text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.75);

}

.header img {
  flex-shrink: 0;
  margin-left: auto;
}


/* NAVIGATION MENU */
.navmenu {
  width: 100%;
  background-color: rgb(41, 233, 41);
  padding: 10px 0;
}

.navmenu ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  gap: 20px;
}

.navmenu a {
  font-family:'Roboto Condensed';  
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  text-decoration: none;
  color: black;
  padding: 0px 10px;
}

.navmenu a:hover {
  background-color: rgb(80, 200, 80);
  padding: 8px;
  font-weight: bold;
}



/* MAIN CONTENT */
.main {
  display: flex;
  justify-content: space-between;
  background-color: rgb(84, 212, 84);
  margin-bottom: 0;
}

/* WELCOME TEXT AND FAVORITE IMAGES STYLING*/ 
.welcome, .favorite {
  margin: 5px;
  padding: 0px 7px;
  background-color: rgb(41, 233, 41);
}

.welcome h2,
.favorite h2 {
  font-family: 'Cinzel Decorative', serif;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  padding: 0 30px;
}

.favorite img {
  display: flex;
  width: 100%;
  height: auto;
  display: block;
  /* border-radius: 1px; */
}

.image-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3px;
}

p {
  font-family:'Roboto Condensed';  
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}



/* FOOTER */
.footer {
  margin-top: 10px;
  padding: 5px;
  background-color: rgb(84, 212, 84);
}
